version: "3.7"

services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    # container_name: gitlab
    restart: unless-stopped
    hostname: "gitlab.sayem.pro"
    volumes:
      - ./config:/etc/gitlab
      - ./logs:/var/log/gitlab
      - ./data:/var/opt/gitlab

    environment:
      GITLAB_OMNIBUS_CONFIG: |
        # Set the external URL to HTTPS, Traefik handles the termination
        external_url 'https://gitlab.sayem.pro' 

        # Configure the SSH host and port GitLab should display for clone URLs
        gitlab_rails['gitlab_ssh_host'] = 'gitlab.sayem.pro'
        # This MUST match the port Traefik is listening on externally (2244)
        gitlab_rails['gitlab_shell_ssh_port'] = 2244 

        # Tell GitLab's internal NGINX that it's behind a proxy
        nginx['listen_https'] = false
        nginx['listen_port'] = 80

        # Recommended homelab optimizations (reduce memory footprint)
        puma['worker_processes'] = 2
        sidekiq['concurrency'] = 10

    # --- Traefik Labels (HTTP/S) ---
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitlab.rule=Host(`gitlab.sayem.pro`)"
      - "traefik.http.routers.gitlab.entrypoints=websecure" # Assuming HTTPS entrypoint in Traefik
      - "traefik.http.routers.gitlab.tls=true"
      - "traefik.http.routers.gitlab.tls.certresolver=cf-letsencrypt"
      - "traefik.http.services.gitlab.loadbalancer.server.port=80" # GitLab's internal HTTP port
      - "traefik.tcp.routers.gitlab-ssh.rule=HostSNI(`*`)" # HostSNI must be '*' for generic SSH
      - "traefik.tcp.routers.gitlab-ssh.entrypoints=ssh" # Matches the 'ssh' EntryPoint on port 2244
      - "traefik.tcp.routers.gitlab-ssh.service=gitlab-ssh"
      - "traefik.tcp.services.gitlab-ssh.loadbalancer.server.port=22" # GitLab's internal SSH port

    # --- Networking ---
    networks:
      - homelab-net # Traefik and GitLab MUST share this network
