version: "3.3"

services:
  openspeedtest:
    image: openspeedtest/latest
    # container_name: openspeedtest
    restart: unless-stopped
    networks:
      - homelab-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.openspeedtest-secure.rule=Host(`speed.lab.sayem.pro`) || Host(`speed.sayem.pro`)"
      - "traefik.http.routers.openspeedtest-secure.entrypoints=websecure"
      - "traefik.http.services.openspeedtest-secure.loadbalancer.server.port=3000"
      - "traefik.http.routers.openspeedtest-secure.tls.certresolver=cf-letsencrypt"
      - "traefik.http.middlewares.limit.buffering.maxRequestBodyBytes=10000000000"
